.cabecalho{
    font-style: italic;
    text-align: center;
    background-color: blue;
    color: whitesmoke;
    height: 50px;
    padding: 20px;
    border: 2px dotted rgb(244, 225, 255);
    
}




